{% extends 'base.html' %}
{% block content %}
{% load static %}
<script>
   $(document).ready( function () {
   $('#table_id').DataTable();
   } );
</script>
<div class="content container-fluid">
   <div class="page-header">

      <div class="row align-items-center">
         <div class="col">
            <h3 class="page-title">Requisition</h3>
            <ul class="breadcrumb">
               <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
               <li class="breadcrumb-item active">Requisition</li>
            </ul>
         </div>
         <div class="col-auto text-right float-right ml-auto">
            <a href="#" class="btn btn-outline-primary mr-2"><i class="fas fa-download"></i> Download</a>
            <a href="add-student.html" class="btn btn-primary"><i class="fas fa-plus"></i></a>
         </div>
      </div>
   </div>
   {% include 'includes/messages.html' %}
   <div class="row">
      <div class="col-sm-12">
         <div class="card card-table">
            <div class="card-body">
               <div class="table-responsive">
                  <table id="table_id" class="table table-hover table-center mb-0">
                     <thead>
                        <tr>
                           <th>Created at</th>
                           <th>ID</th>
                           <th>Name</th>
                           <th>Department</th>
                           <th>Designation</th>
                           <th>Place</th>
                           <th>Purpose</th>
                           <th>Date</th>
                           <th>Arrival</th>
                           <th>Vehicle Type</th>
                           <th>Driver</th>
                           <th>Vehicle</th>
                           <th class="text-right">Status</th>
                        </tr>
                     </thead>
                     <tbody>
                        {% for i in requisition %}
                        {% if i.req_status != 4 %}
                        <tr>
                           <td>{{i.created_at}}</td>
                           <td>{{i.id}}</td>
                           <td>
                              <h2 class="table-avatar">
                                 {{i.teacher_id.admin.first_name}}&nbsp;{{i.teacher_id.admin.last_name}}
                              </h2>
                           </td>

                           <td>{{i.teacher_id.department}}</td>
                           <td>{{i.teacher_id.designation}}</td>
                           <td>{{i.place}}</td>
                           {% if i.cause == 0 %}
                           <td>Official</td>
                           {% elif i.cause == 1%}
                           <td>Personal</td>
                           {% endif %}
                           <td>{{i.date}}</td>
                           <td>{{i.arrival_time}}</td>
                           <td>{{i.vehicle_type}}</td>



                           {% if i.req_status == 0 %}
                           <td>None</td>
                           <td>None</td>
                           <td class="text-right">

                           <a href="{% url 'teacher_approve_requisition' i.id%}" class="btn bg-success mr-2">Approve</a>
                           <a href="{% url 'teacher_disapprove_requisition' i.id%}" class="btn bg-danger mr-2">Disapprove</a>
                              </td>
                           {% elif i.req_status == 1%}
                           <td>{{i.driver_id}}</td>
                           <td>{{i.vehicle_id}}</td>
                           <td class="text-right">
                           <button type="button" class="btn btn-success" disabled="disabled">Approved</button>
                           </td>
                           {% elif i.req_status == 2%}
                           <td>None</td>
                           <td>None</td>
                           <td class="text-right">
                           <button type="button" class="btn btn-danger" disabled="disabled">Disapproved</button>
                           </td>
                           {% elif i.req_status == 3%}
                           <td>{{i.driver_id}}</td>
                           <td>{{i.vehicle_id}}</td>
                           <td class="text-right">
                           <button type="button" class="btn btn-success-light" disabled="disabled">Completed</button>
                           </td>
                           {% endif %}


                        </tr>
                        {% endif %}
                        {% endfor %}
                     </tbody>
                  </table>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>



{% endblock %}